# Supabase — get these from your Supabase project settings
NEXT_PUBLIC_SUPABASE_URL=https://wjqjsasogokdfiharzmf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqcWpzYXNvZ29rZGZpaGFyem1mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NjM2NDUsImV4cCI6MjA5NTQzOTY0NX0.LdPta05-sbGKw11Lxvrs9tx4T3HPdwn2ygqeVqyI0Ys

# Backend API (not yet active)
NEXT_PUBLIC_API_URL=https://sportifo-cqg2b2bmg9e3hqck.southindia-01.azurewebsites.net
